html {
  font-family: -apple-system,BlinkMacSystemFont,sans-serif;
  background: black;
  color: white;
  font-size: 25px; }

body {
  margin: 2rem 4rem; }

a {
  color: inherit;
  text-decoration: none; }

.pswp__counter, .pswp__caption {
  font-size: .8rem; }

header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 4rem; }
  header a {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }
    header a.submit {
      display: block;
      color: gray; }
      header a.submit svg {
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        position: relative;
        top: 2px;
        -webkit-transition: -webkit-transform .25s ease-in-out;
        transition: -webkit-transform .25s ease-in-out;
        transition: transform .25s ease-in-out;
        transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out; }
        header a.submit svg path {
          stroke: currentColor; }
      header a.submit:hover {
        color: white; }
        header a.submit:hover svg {
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg); }

main.text {
  font-size: .8rem;
  max-width: 60ch; }
  main.text h1 {
    font-size: 1rem; }
  main.text h2, main.text h3, main.text h4 {
    font-size: 1em; }
  main.text a {
    text-decoration: underline; }

.websites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem; }
  .websites .website .screenshot {
    position: relative;
    cursor: pointer; }
    .websites .website .screenshot .front_back {
      -webkit-transition: all .25s ease-in-out;
      transition: all .25s ease-in-out;
      -webkit-transform-style: preserve-3d;
              transform-style: preserve-3d;
      -webkit-transform: perspective(1000px);
              transform: perspective(1000px); }
      .websites .website .screenshot .front_back .frontend {
        display: block;
        position: relative;
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden; }
      .websites .website .screenshot .front_back .backend {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden; }
      .websites .website .screenshot .front_back img {
        display: block;
        width: 100%; }
        .websites .website .screenshot .front_back img.popup {
          display: none; }
    .websites .website .screenshot:hover .front_back {
      -webkit-transform: perspective(1000px) rotateY(-10deg) rotateX(-10deg);
              transform: perspective(1000px) rotateY(-10deg) rotateX(-10deg); }
    .websites .website .screenshot:hover + .title a.frontend:after {
      opacity: .33; }
    .websites .website .screenshot:active .front_back {
      -webkit-transition: all .1s ease-in-out;
      transition: all .1s ease-in-out;
      -webkit-transform: perspective(1000px) rotateY(0deg) rotateX(-15deg) scale(0.95);
              transform: perspective(1000px) rotateY(0deg) rotateX(-15deg) scale(0.95); }
    .websites .website .screenshot.backend_open .front_back {
      -webkit-transform: perspective(1000px) rotateY(-180deg);
              transform: perspective(1000px) rotateY(-180deg); }
    .websites .website .screenshot.backend_open + .title a.frontend:after {
      opacity: 1; }
  .websites .website .title {
    margin-top: 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    font-size: .8rem; }
    .websites .website .title a {
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      cursor: pointer; }
      .websites .website .title a.frontend {
        border-bottom: 2px solid transparent;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }
        .websites .website .title a.frontend:after {
          content: '/panel';
          opacity: 0;
          -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
          margin-left: 1px;
          position: absolute; }
        .websites .website .title a.frontend:hover {
          border-color: currentColor; }
      .websites .website .title a.backend {
        margin-left: 2px;
        color: rgba(255, 255, 255, 0.5); }
      .websites .website .title a.heart {
        color: rgba(255, 255, 255, 0.5);
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out; }
        .websites .website .title a.heart svg {
          display: inline-block;
          vertical-align: middle;
          position: relative;
          top: -2px;
          overflow: visible;
          margin-left: 5px; }
          .websites .website .title a.heart svg circle {
            fill: none;
            stroke: currentColor;
            stroke-width: 2px; }
          .websites .website .title a.heart svg path {
            fill: currentColor; }
        .websites .website .title a.heart:hover {
          color: white; }
        .websites .website .title a.heart.has_liked {
          color: white; }
          .websites .website .title a.heart.has_liked svg circle {
            fill: currentColor; }
          .websites .website .title a.heart.has_liked svg path {
            fill: black; }

footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 4rem;
  color: rgba(255, 255, 255, 0.5); }
  footer a {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out; }
    footer a:hover, footer a.open {
      color: white; }
  footer nav a {
    margin-left: 1rem; }

@media screen and (max-width: 1700px) {
  .websites {
    grid-template-columns: 1fr 1fr; } }

@media screen and (max-width: 1200px) {
  body {
    margin: 2rem; }
  .websites {
    grid-gap: 2rem; } }

@media screen and (max-width: 1050px) {
  .websites {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 640px) {
  html {
    font-size: 15px; }
  header a.submit svg {
    width: 15px;
    top: -3px; }
  .websites .website .title a.frontend {
    border-width: 1px; }
  .websites .website .title a.heart svg {
    width: 16px;
    height: 16px;
    top: -1px; } }
